<h4>Informacion de Contacto</h4><br>

<div class="alert alert-danger posicion-alerta" role="alert"  *ngIf="infoContService.espera">
  Espere...
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success posicion-alerta" role="alert"  *ngIf="infoContService.cargado">
  Se subio
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<form (ngSubmit)="guardarInfoContacto()" #formaIC="ngForm">

  <div class="mb-3">
    <label for="correoInputP" class="form-label">Correo electronico personal</label>
    <input type="email"
           class="form-control"
           id="correoInputP"
           aria-describedby="emailHelp"
           placeholder="example@gmail.com"
           name="correoPersonal"
           [(ngModel)]="informacionContacto.correoPersonal"
           required
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
  </div>

  <div class="mb-3">
    <label for="correoInputEmpInst" class="form-label">Correo electronico institucional o empresarial</label>
    <input type="email"
           class="form-control"
           id="correoInputEmpInst"
           aria-describedby="emailHelp"
           placeholder="example@epn.edu.ec"
           name="correoInstEmp"
           [(ngModel)]="informacionContacto.correoInstEmpres"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
  </div>

  <div class="mb-3">
    <label for="celularInput" class="form-label">Whatssap</label>
    <input type="tel"
           class="form-control"
           id="celularInput"
           placeholder="ingrese numero de celular o telefono"
           name="telf"
           [(ngModel)]="informacionContacto.whatssap">
  </div>

  <div class="mb-3">
    <label for="ubicacionInput" class="form-label">Ubicacion</label>
    <input type="url"
           class="form-control"
           id="ubicacionInput"
           placeholder="ingrese link de acceso (Google)"
           name="ubicacion"
           [(ngModel)]="informacionContacto.ubicacion">
  </div>

  <div class="mb-3">
    <label for="github" class="form-label">Github</label>
    <input type="url"
           class="form-control"
           id="github"
           placeholder="ingrese link de Github"
           name="github"
           [(ngModel)]="informacionContacto.github">
  </div>

  <div class="mb-3">
    <label for="linkendin" class="form-label">Linkedin</label>
    <input type="url"
           class="form-control"
           id="linkendin"
           placeholder="ingrese link de Linkedin"
           name="linkedin"
           [(ngModel)]="informacionContacto.linkedin">
  </div>
  <button type="submit" class="btn btn-warning" [disabled]="formaIC.invalid">Guardar</button>
</form>
