
<div class="container relleno">

  <h3>Proyectos</h3>
  <hr>
  <br>

  <div class="marco1">
  <h5><a href="https://github.com/jonathanvargas2016/Proyectos_en_Angular/tree/desarrollador/04-spotyapp"
         target="_blank" >
    SpotyApp
  </a></h5>
  <p>Es un prototipo de página web que permite visualizar y escuchar las musicas de cualquier artista.
    Además, se puede buscar alguna canción o artista en especifico.
    Este prototipo fue construido utilizando el Framework Angular en la que se utilizó HTML, CSS y Typescript.
    Este prototipo se conecta a la API de Spotify.</p>
</div>
  <br>
  <div class="marco1">
    <h5><a href="https://n9.cl/582et"
           target="_blank" >
      BioApp
    </a></h5>
    <p>Es un prototipo de página web que permite al usuario comprar productos de bioseguridad.
      Esta pagina fue hecha para el Backend, construida en el Framework NestJS utilizando HTML, CSS y
      el lenguaje de programación Typescript. Toda la información que recopila la aplicación se almacena
      en la base de datos MySQL.</p>
  </div>
  <br>
  <div class="marco1">
    <h5><a href="https://github.com/jonathanvargas2016/Proyectos_en_Angular/tree/desarrollador/04-spotyapp"
           target="_blank" s>
      SpotyApp
    </a></h5>
    <p>Es un prototipo de página web que permite visualizar y escuchar las musicas de cualquier artista.
      Además, se puede buscar alguna canción o artista en especifico.
      Este prototipo fue construido utilizando el Framework Angular en la que se utilizó HTML, CSS y Typescript.
      Este prototipo se conecta a la API de Spotify.</p>
  </div>


</div>
