
<div class="container relleno">

  <h3>Proyectos</h3>
  <hr>
  <br>

  <div class="marco1">
    <div class="row">
      <div class="col-3">
        <h5>BioApp</h5>

        <img src="./assets/img/web.jpg" alt="">

      </div>
      <div class="col">
        <p>Es un prototipo de página web que permite al usuario comprar productos de bioseguridad.
          Esta pagina fue hecha para el Backend, construida en el Framework NestJS utilizando HTML, CSS y
          el lenguaje de programación Typescript. Toda la información que recopila la aplicación se almacena
          en la base de datos MySQL.</p>
        <button type="button" name="ver" class="btn btn-primary">Visualizar Proyecto</button>
      </div>

    </div>
  </div>
  <div class="marco1">
    <div class="row">
      <div class="col-3">
        <h5>BioApp</h5>
        <img src="./assets/img/mobil.png" alt="">
      </div>
      <div class="col">
        <p>Es un prototipo de página web que permite al usuario comprar productos de bioseguridad.
          Esta pagina fue hecha para el Backend, construida en el Framework NestJS utilizando HTML, CSS y
          el lenguaje de programación Typescript. Toda la información que recopila la aplicación se almacena
          en la base de datos MySQL.</p>
        <button type="button" name="ver" class="btn btn-primary">Visualizar Proyecto</button>
      </div>

    </div>
  </div>
  <div class="marco1">
    <div class="row">
      <div class="col-3">
        <h5>BioApp</h5>
        <img src="./assets/img/otros.jpg" alt="">
      </div>
      <div class="col">
        <p>Es un prototipo de página web que permite al usuario comprar productos de bioseguridad.
          Esta pagina fue hecha para el Backend, construida en el Framework NestJS utilizando HTML, CSS y
          el lenguaje de programación Typescript. Toda la información que recopila la aplicación se almacena
          en la base de datos MySQL.</p>
        <button type="button" name="ver" class="btn btn-primary">Visualizar Proyecto</button>
      </div>

    </div>
  </div>






</div>
