<h1>Nuevo Héroe <small>asd</small></h1>

<div class="row">
  <div class="col inputs">
    <div class="inputs__names">
      <mat-form-field style="margin-right: 10px">
        <mat-label> Super Héroe </mat-label>
        <input matInput type="text" name="" id="superHeroe" />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Alter Ego </mat-label>
        <input matInput type="text" name="" id="alterEgo" />
      </mat-form-field>
    </div>

    <div class="inputs__data">
      <mat-form-field>
        <mat-label> Primera Aparición </mat-label>
        <input matInput type="text" name="" id="primeraAparicion" />
      </mat-form-field>
    </div>

    <div class="inputs__data">
      <mat-form-field>
        <mat-label> Personajes </mat-label>
        <input matInput type="text" name="" id="personajes" />
      </mat-form-field>
    </div>

    <div class="inputs__data">
      <mat-form-field appearance="fill">
        <mat-label>Creador</mat-label>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inputs__data">
      <mat-form-field>
        <mat-label> Foto Url </mat-label>
        <input matInput type="url" name="" id="fotoUrl" />
      </mat-form-field>
    </div>
  </div>

  <div class="col picture">
    imgaen
    <img src="aaaaa" alt="" />
  </div>
</div>
