<div class="contenedor">
  <div class="cabecera">
    <div class="container">
      <h1>Administracion
      </h1>
    </div>
  </div>

  <div class="fondo2">
    <div class="relleno-fondos"></div>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4 ">

        <div class="col">
          <app-informacion-personal-form></app-informacion-personal-form>
        </div>

        <div class="col">
          <app-informacion-contacto-form></app-informacion-contacto-form>
        </div>

        <div class="col">

          <app-educacion-form></app-educacion-form>
        </div>

        <div class="col">
          <app-habilidades-form></app-habilidades-form>
        </div>

        <div class="col">
          <app-certificaciones-form></app-certificaciones-form>
        </div>

        <div class="col">
          <app-proyectos-forms></app-proyectos-forms>
        </div>

        <div class="col">
          <app-experiencia-laboral-form></app-experiencia-laboral-form>
        </div>

      </div>
    </div>
    <div class="relleno-fondos"></div>
  </div>


</div>

