<!--<div class="contenedor">-->
<!--  <div class="cabecera">-->
<!--    <div class="container">-->
<!--      <h1>Administracion-->
<!--      </h1>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="fondo2">-->
<!--    <div class="relleno-fondos"></div>-->
<!--    <div class="container">-->


<!--      <div>-->
<!--        <button type="button"-->
<!--                class="btn btn-primary margin-btn"-->
<!--                data-bs-toggle="modal"-->
<!--                data-bs-target="#modalInfoPersonal"-->
<!--                data-bs-whatever="@mdo"-->
<!--                [disabled]="infoPers.espera">-->
<!--          Agregar-->
<!--        </button>-->
<!--        <app-card-info-per></app-card-info-per>-->
<!--        <app-informacion-personal-form></app-informacion-personal-form>-->

<!--      </div>-->

<!--&lt;!&ndash;      <div class="row row-cols-1 row-cols-md-3 g-4 ">&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;          <app-informacion-personal-form></app-informacion-personal-form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;          <app-informacion-contacto-form></app-informacion-contacto-form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->

<!--&lt;!&ndash;          <app-educacion-form></app-educacion-form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;          <app-habilidades-form></app-habilidades-form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;          <app-certificaciones-form></app-certificaciones-form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;          <app-proyectos-forms></app-proyectos-forms>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;          <app-experiencia-laboral-form></app-experiencia-laboral-form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->






<!--    </div>-->

<!--    <div class="relleno-fondos"></div>-->
<!--  </div>-->


<!--</div>-->

<h1>Hola Administracion</h1>



