
.color{
  color:red;
}
.btn{
  border-radius: 0;
  margin-top: 10px;
  padding: 10px 20px;
}
.login{
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  padding: 17px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 800px) {
  .login { width: 90%; }
}
