<h4>Proyectos</h4><br>

<form (ngSubmit)="guardarProyecto()">

  <div class="mb-3">
    <label for="tituloProyectoInput" class="form-label">Ingrese el titulo del proyecto</label>
    <input type="text"
           class="form-control"
           id="tituloProyectoInput"
           placeholder="nombre del proyecto: "
           name="tituloProyecto"
           [(ngModel)]="proyectos.titulo">
  </div>

  <div class="mb-3">
    <label for="descripcionProyInput" class="form-label">Descripcion</label>
    <textarea class="form-control"
              id="descripcionProyInput"
              rows="4"
              name="descripcionProyecto"
              [(ngModel)]="proyectos.descripcion"></textarea>
  </div>



</form>
