.task {
    display: flex;
    padding: 10px;

    &:hover {
        .delete {
            display: flex !important;
        }
    }

    &.done{
        .label{
            .text{
                text-decoration: line-through;
            }
        }
    }

    .label {
        display: flex;
        padding: 8px 15px;
        cursor: pointer;

        input {
            margin-right: 10px;
        }

        .text {
            font-family: Arial;
        }

    }

    .delete {
        margin-left: 10px;
        display: flex;
        align-items: center;
        padding: 8px 10px;
        display: none;
        font-family: Arial;
    }
}