<div class="contenedor">
  <div class="cabecera">
    <div class="container">
      <h1>Información Personal</h1>
    </div>
  </div>

  <div class="fondo2">
    <div class="relleno-fondos"></div>
    <div class="container">

      <div>
        <button type="button"
                class="btn btn-primary margin-btn"
                data-bs-toggle="modal"
                data-bs-target="#modalInfoPersonal"
                [disabled]="infoPerService.espera">
          Agregar
        </button>
      </div>

      <div class="row row-cols-1 row-cols-md-2 g-4" *ngIf="documentos">

        <div class="col" *ngFor="let documento of documentos; index as i">
          <div class="card h-100">
            <img [src]="documento.payload.doc.data().urlImagen | noimagen"
                 class="card-img-top" alt="foto de perfil"
                 onerror="this.src='assets/img/noimage.jpg'">
            <div class="card-body">
              <h5 class="card-title">{{documento.payload.doc.data().nombres}}</h5>
              <h6 class="card-title">{{documento.payload.doc.data().titulo}}</h6>
              <p class="card-text"><strong>Perfil
                Profesional. </strong>{{documento.payload.doc.data().perfilProfesional}}</p>
              <p class="card-text"><strong>Motivación. </strong>{{documento.payload.doc.data().motivacion}}</p>
            </div>
            <div class="card-footer text-muted">
              <button pButton
                      type="button"
                      icon="pi pi-check"
                      class="p-button-success p-button-rounded espacio-right p-button"
                      (click)="getIdDocument(documento.payload.doc.id)">

              </button>
              <button pButton
                      type="button"
                      icon="pi pi-times"
                      class="p-button-danger p-button-rounded"
                      (click)="eliminar(documento.payload.doc.id)">
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="relleno-fondos"></div>
  </div>

</div>

<app-informacion-personal-form></app-informacion-personal-form>



