<h4>Educación</h4><br>

<div class="alert alert-danger" role="alert" *ngIf="eduService.mensajeError">
  {{eduService.mensajeError}}
</div>

<div class="alert alert-danger posicion-alerta" role="alert"  *ngIf="eduService.espera">
  Espere...
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success posicion-alerta" role="alert"  *ngIf="eduService.cargado">
  Cargado
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<form (ngSubmit)="guardarEducacion()" #formaEdu="ngForm">
  <div class="mb-3">
    <label for="tituloEdu" class="form-label">Ingrese su título obtenido</label>
    <input type="text"
           class="form-control"
           id="tituloEdu"
           placeholder="Título en: "
           name="titulo"
           [(ngModel)]="educacion.titulo"
           required>

  </div>
  <div class="mb-3">
    <label for="tituloImg" class="form-label">Seleccione el Título</label>
    <input (change)="capturarTituloImg($event)"
           class="form-control"
           type="file" id="tituloImg"
           accept=".png, .jpg"
           required>
  </div>
  <div class="mb-3">
    <label for="ubicacionEducacion" class="form-label">Ingrese el lugar</label>
    <input type="text"
           class="form-control"
           id="ubicacionEducacion"
           placeholder="En donde obtuvo su título: "
           name="ubicacionEducacion"
           [(ngModel)]="educacion.ubicacion"
           required>

  </div>
  <div class="mb-3">
    <label for="fechaInicioEdu" class="form-label">Seleccione la fecha de inicio</label>
    <input type="date"
           class="form-control"
           id="fechaInicioEdu"
           name="fechaInicio"
           [(ngModel)]="educacion.fechaInicio"
           required>

  </div>
  <div class="mb-3">
    <label for="fechaFinEdu" class="form-label">Seleccione la fecha de culminación</label>
    <input type="date"
           class="form-control"
           id="fechaFinEdu"
           name="fechaFin"
           [(ngModel)]="educacion.fechaFin">

  </div>
  <button type="submit" class="btn btn-dark" [disabled]="formaEdu.invalid || eduService.espera">Guardar</button>
</form>
