<h4>Educacion</h4><br>
<form (ngSubmit)="guardarEducacion()" >
  <div class="mb-3">
    <label for="titulo" class="form-label">Ingrese su titulo obtenido</label>
    <input type="text"
           class="form-control"
           id="titulo"
           placeholder="titulo en: "
           name="titulo"
           [(ngModel)]="educacion.titulo">

  </div>
  <div class="mb-3">
    <label for="ubicacionEducacion" class="form-label">Ingrese el lugar</label>
    <input type="text"
           class="form-control"
           id="ubicacionEducacion"
           placeholder="En donde obtuvo su titulo: "
           name="ubicacionEducacion"
           [(ngModel)]="educacion.ubicacion">

  </div>
  <div class="mb-3">
    <label for="fechaInicio" class="form-label">Seleccione la fecha de inicio</label>
    <input type="date"
           class="form-control"
           id="fechaInicio"
           name="fechaInicio"
           [(ngModel)]="educacion.fechaInicio">

  </div>
  <div class="mb-3">
    <label for="fechaFin" class="form-label">Seleccione la fecha de culminacion</label>
    <input type="date"
           class="form-control"
           id="fechaFin"
           name="fechaFin"
           [(ngModel)]="educacion.fechaFin">

  </div>

  <!--            <div class="mb-3">-->
  <!--              <input type="url"-->
  <!--                     class="form-control"-->
  <!--                     id="habilidadInput"-->
  <!--                     placeholder="ingrese su habilidad"-->
  <!--                     name="habilidad"-->
  <!--                     [(ngModel)]="habilidad.nombreHabilidad">-->

  <!--            </div>-->

  <!--            <div class="mb-3">-->
  <!--              <input type="url"-->
  <!--                     class="form-control"-->
  <!--                     id="habilidadInput"-->
  <!--                     placeholder="ingrese su habilidad"-->
  <!--                     name="habilidad"-->
  <!--                     [(ngModel)]="habilidad.nombreHabilidad">-->

  <!--            </div>-->

  <button type="submit" class="btn btn-dark">Guardar</button>
</form>
