
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

      <ul class="navbar-nav m-lg-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             routerLink="yo"
             routerLinkActive="active">
            HOME
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="educacion"
             routerLinkActive="active">
            EDUCACION
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="experiencia-laboral"
             routerLinkActive="active">
            EXPERIENCIA LABORAL
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="cursos-certificaciones"
             routerLinkActive="active">
            CURSOS Y CERTIFICACIONES
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="proyectos"
             routerLinkActive="active">
            PROYECTOS
          </a>
        </li>

        <li class="nav-item dropdown" *ngIf="authService.aIniciadoSesion">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ADMINISTRACIÓN
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item"
                 routerLink="administracion/informacion-personal"
                 routerLinkActive="active">
                Información Personal
              </a>
            </li>

            <li>
              <a class="dropdown-item"
                   routerLink="administracion/informacion-contacto-form"
                   routerLinkActive="active">
              Información de Contacto
            </a>
            </li>

            <li>
              <a class="dropdown-item"
                 routerLink="administracion/educacion-form"
                 routerLinkActive="active">
                Educación
              </a>
            </li>

            <li>
              <a class="dropdown-item"
                 routerLink="administracion/habilidades-form"
                 routerLinkActive="active">
                Habilidades
              </a>
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="administracion/cursos-certificaciones-form"
                routerLinkActive="active">
                Cursos y Certificaciones
              </a>
            </li>
            <li>
              <a class="dropdown-item"
                 routerLink="administracion/proyectos-form"
                 routerLinkActive="active">
                Proyectos
              </a>
            </li>
            <li>
              <a class="dropdown-item"
                 routerLink="administracion/experiencia-laboral-form"
                 routerLinkActive="active">
                Experiencia Laboral
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <p-avatar image="./assets/img/web.jpg" pBadge value="4" severity="danger" shape="circle" *ngIf="authService.aIniciadoSesion"></p-avatar>

      <button class="btn btn-primary" type="button" (click)="redirigirALogin()" *ngIf="!authService.aIniciadoSesion"><strong>LOGIN</strong></button>
      <button class="btn btn-danger" type="button" (click)="logout()" *ngIf="authService.aIniciadoSesion"><strong>LOGOUT</strong></button>

    </div>
  </div>
</nav>
