<div class="row">

  <div class="col-md-12 text-center">

    <h3>Ingrese al Chat mediante:</h3>

    <button type="button"
            class="btn btn-outline-primary"
            name="button"
            (click)="ingresar('google')">
      <i class="fab fa-google"></i>
      Google</button>

    <button type="button"
            style="margin-left: 10px"
            class="btn btn-outline-info"
            name="button"
            (click)="ingresar('facebook')">
      <i class="fab fa-facebook-f"></i>
      Facebook</button>
  </div>

</div>
