
<div class="corte-footer">

</div>
<div class="fondo">
  <br>
  <div class="container">

    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col efecto">
        <h5>MAPA DEL SITIO</h5>
        <ul>
          <li>
            <a routerLink="yo">
              Inicio
            </a>
          </li>

          <li>
            <a routerLink="educacion">
              Educación
            </a>
          </li>
          <li>
            <a routerLink="experiencia-laboral">
              Experiencia Laboral
            </a>
          </li>
          <li>
            <a routerLink="cursos-certificaciones">
              Cursos y certificaciones
            </a>
          </li>
          <li>
            <a routerLink="proyectos">
              Proyectos
            </a>
          </li>
        </ul>

      </div>
      <div class="col">
        <h5>CONTACTO</h5>
        <ul>
          <li>Teléfono: 0983774891</li>
          <li>Correo: jonathan.1996mds@gmail.com</li>
        </ul>


      </div>
      <div class="col espacio">
        <h5>REDES</h5>
        <ul>
          <li>
            <a href="https://twitter.com/JonaSVargasN" target="_blank">
              <img src="./assets/svg/twitter.svg" alt="twiter">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/JonaSVargasN" target="_blank">
              <img src="./assets/svg/facebook.svg" alt="facebook">
            </a>
          </li>

          <li>
            <a href="https://twitter.com/JonaSVargasN" target="_blank">
              <img src="./assets/svg/githubRedes.svg" alt="github">
            </a>
          </li>

          <li>
            <a href="https://twitter.com/JonaSVargasN" target="_blank">
              <img src="./assets/svg/linkedinRedes.svg" alt="linkedin">
            </a>
          </li>

        </ul>
      </div>

    </div>


    <div class="centrado-texto">
      <br>
      <h6>&copy; {{anio}} Esta página fue disenado por: <strong>Jonathan Vargas</strong></h6>
      <br>
    </div>
  </div>

</div>
