.corte-footer{
 background-color: white;
  height: 5px;
}
.fondo{
  background-color: #ededed;
  width: 100%;
  min-height: 20vw;
}
.centrado-texto{
  text-align: center;
}

.espacio ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.efecto ul li a:hover{
  color: white;
}


