<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ heroe.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ heroe.alterEgo }} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="heroe | imagen" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <h3>{{ heroe.publisher }}</h3>
    <p>
      <strong>{{ heroe.firstAppearance }} </strong>
      <br />
      <strong>Personajes: {{ heroe.characters }} </strong>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn">Leer más...</button>
    <button mat-button color="info">Editar</button>
  </mat-card-actions>
</mat-card>
