<div class="menu">
  <ul>
    <li>
      <a [routerLink]="['auth', 'login']" routerLinkActive="router-link-active"
        >Login</a
      >
    </li>
    <li>
      <a [routerLink]="['auth', 'register']" routerLinkActive="router-link-active"
        >Register</a
      >
    </li>
    <li>
      <a [routerLink]="['client', 'edit']" routerLinkActive="router-link-active"
        >Edit Client</a
      >
    </li>

    <li>
      <a [routerLink]="['client', 'list']" routerLinkActive="router-link-active"
        >Clients</a
      >
    </li>
  </ul>
</div>
