<h4>Experiencia Laboral</h4><br>

<app-alertas [mensajeError]="expLaboralService.mensajeError"
             [espera]="expLaboralService.espera"
             [cargado]="expLaboralService.cargado">
</app-alertas>

<form (ngSubmit)="guardarExperienciaLaboral()" #formaTrab="ngForm">

  <div class="mb-3">
    <label for="lugarInput" class="form-label">Lugar de trabajo</label>
    <input type="text"
           class="form-control"
           id="lugarInput"
           [ngClass]="{'is-invalid': (lugarTrabajo.errors?.required && lugarTrabajo.touched) || lugarTrabajo.errors?.minlength}"
           placeholder="Ingrese el lugar donde trabajo"
           name="lugarTrabajo"
           #lugarTrabajo="ngModel"
           minlength="10"
           maxlength="100"
           required
           [(ngModel)]="experienciaLaboral.lugar">

    <div class="form-text color" *ngIf="lugarTrabajo.errors?.required && lugarTrabajo.touched">Lugar de trabajo es requerido</div>
    <div class="form-text color" *ngIf="lugarTrabajo.errors?.minlength">Mínimo {{lugarTrabajo.errors?.minlength.requiredLength}} caracteres</div>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input"
             type="checkbox"
             id="trabajaActu"
             name="trabajaActual"
             value="f">
      <label class="form-check-label" for="trabajaActu">
        Trabaja actualmente en este lugar?
      </label>
    </div>
  </div>

  <div class="mb-3">
    <label for="fechaInicio" class="form-label">Fecha de inicio</label>
    <input type="date"
           class="form-control"
           id="fechaInicio"
           [ngClass]="{'is-invalid': (fechaInicioTrab.errors?.required && fechaInicioTrab.touched) || errorFechaInicio}"
           name="fechaInicio"
           #fechaInicioTrab="ngModel"
           required
           [(ngModel)]="experienciaLaboral.fechaInicio">

    <div class="form-text color" *ngIf="errorFechaInicio">Fecha de inicio mayor o igual a fecha fin</div>
    <div class="form-text color" *ngIf="fechaInicioTrab.errors?.required && fechaInicioTrab.touched">Fecha de inicio es requerido</div>
  </div>

  <div class="mb-3">
    <label for="fechaFin" class="form-label">Fecha fin</label>
    <input type="date"
           class="form-control"
           id="fechaFin"
           name="fechaFin"
           [ngClass]="{'is-invalid': (fechaFinTrab.errors?.required && fechaFinTrab.touched)}"
           #fechaFinTrab="ngModel"
           required
           [(ngModel)]="experienciaLaboral.fechaFin">
    <div class="form-text color" *ngIf="fechaFinTrab.errors?.required && fechaFinTrab.touched">Fecha fin es requerido</div>

  </div>

  <div class="mb-3">
    <label for="cargoInput" class="form-label">Cargo</label>
    <input type="text"
           class="form-control"
           id="cargoInput"
           [ngClass]="{'is-invalid': (cargoTrab.errors?.required && cargoTrab.touched) || cargoTrab.errors?.minlength}"
           placeholder="Cargo que desempeñaba: "
           name="cargo"
           required
           #cargoTrab="ngModel"
           minlength="10"
           maxlength="100"
           [(ngModel)]="experienciaLaboral.cargo">

    <div class="form-text color" *ngIf="cargoTrab.errors?.required && cargoTrab.touched">El cargo es requerido</div>
    <div class="form-text color" *ngIf="cargoTrab.errors?.minlength">Mínimo {{cargoTrab.errors?.minlength.requiredLength}} caracteres</div>

  </div>

  <div class="mb-3">
    <label for="funcionesInput" class="form-label">Funciones</label>
    <textarea class="form-control"
              id="funcionesInput"
              [ngClass]="{'is-invalid': funcionesTrab.errors?.minlength}"
              rows="4"
              name="funciones"
              minlength="100"
              maxlength="500"
              #funcionesTrab="ngModel"
              [(ngModel)]="experienciaLaboral.funciones"></textarea>
    <div class="form-text color" *ngIf="funcionesTrab.errors?.minlength">Mínimo {{funcionesTrab.errors?.minlength.requiredLength}} caracteres</div>

  </div>



  <div>

    <h6 ><strong>Referencias personales: </strong></h6>
    <br><h6>Referencia Uno</h6>
    <div class="mb-3">
      <label for="nombreRefInputUno" class="form-label">Nombres</label>
      <input type="text"
             class="form-control"
             id="nombreRefInputUno"
             [ngClass]="{'is-invalid': (nombresRefUno.errors?.required && nombresRefUno.touched) || nombresRefUno.errors?.minlength}"
             placeholder="Nombre de la referencia: "
             name="nombreRefUno"
             minlength="3"
             maxlength="100"
             required
             #nombresRefUno="ngModel"
             [(ngModel)]="experienciaLaboral.referencias.refUno.nombre">

      <div class="form-text color" *ngIf="nombresRefUno.errors?.required && nombresRefUno.touched">El nombre es requerido</div>
      <div class="form-text color" *ngIf="nombresRefUno.errors?.minlength">Mínimo {{nombresRefUno.errors?.minlength.requiredLength}} caracteres</div>

    </div>
    <div class="mb-3">
      <label for="cargoRefInputUno" class="form-label">Cargo</label>
      <input type="text"
             class="form-control"
             id="cargoRefInputUno"
             placeholder="Cargo de la referencia: "
             [ngClass]="{'is-invalid': (cargoRefUno.errors?.required && cargoRefUno.touched) || cargoRefUno.errors?.minlength}"
             name="cargoRefUno"
             #cargoRefUno="ngModel"
             required
             minlength="3"
             maxlength="100"
             [(ngModel)]="experienciaLaboral.referencias.refUno.cargo">

      <div class="form-text color" *ngIf="cargoRefUno.errors?.required && cargoRefUno.touched">El cargo es requerido</div>
      <div class="form-text color" *ngIf="cargoRefUno.errors?.minlength">Mínimo {{cargoRefUno.errors?.minlength.requiredLength}} caracteres</div>
    </div>
    <div class="mb-3">
      <label for="telfRefInputUno" class="form-label">Teléfono</label>
      <input type="tel"
             class="form-control"
             id="telfRefInputUno"
             [ngClass]="{'is-invalid': telRefUno.errors?.pattern}"
             placeholder="0987654321"
             name="telfRefUno"
             pattern="^(?:(?:09)?9?)?\d{8}$"
             #telRefUno="ngModel"
             maxlength="10"
             [(ngModel)]="experienciaLaboral.referencias.refUno.telf">
      <div class="form-text color" *ngIf="telRefUno.errors?.pattern">Número celular inválido</div>

    </div>
    <br>
    <h6>Referencia Dos</h6>
    <div class="mb-3">
      <label for="nombreRefInputDos" class="form-label">Nombres</label>
      <input type="text"
             class="form-control"
             id="nombreRefInputDos"
             [ngClass]="{'is-invalid': nombreRefDos.errors?.minlength}"
             placeholder="Nombre de la referencia: "
             name="nombreRefDos"
             minlength="3"
             maxlength="100"
             #nombreRefDos="ngModel"
             pattern="[a-zA-Z]+"
             [(ngModel)]="experienciaLaboral.referencias.refDos.nombre">
      <div class="form-text color" *ngIf="nombreRefDos.errors?.minlength">Mínimo {{nombreRefDos.errors?.minlength.requiredLength}} caracteres</div>

    </div>
    <div class="mb-3">
      <label for="cargoRefInputDos" class="form-label">Cargo</label>
      <input type="text"
             class="form-control"
             id="cargoRefInputDos"
             [ngClass]="{'is-invalid': cargoRefDos.errors?.minlength}"
             placeholder="cargo de la referencia: "
             name="cargoRefDos"
             #cargoRefDos="ngModel"
             minlength="3"
             maxlength="100"
             [(ngModel)]="experienciaLaboral.referencias.refDos.cargo">
      <div class="form-text color" *ngIf="cargoRefDos.errors?.minlength">Mínimo {{cargoRefDos.errors?.minlength.requiredLength}} caracteres</div>

    </div>
    <div class="mb-3">
      <label for="telfRefInputDos" class="form-label">Ingrese el telefono</label>
      <input type="tel"
             class="form-control"
             id="telfRefInputDos"
             [ngClass]="{'is-invalid': telRefDos.errors?.pattern}"
             placeholder="0987654321"
             name="telfRefDos"
             pattern="^(?:(?:09)?9?)?\d{8}$"
             maxlength="10"
             #telRefDos="ngModel"
             [(ngModel)]="experienciaLaboral.referencias.refDos.telf">
      <div class="form-text color" *ngIf="telRefDos.errors?.pattern">Número celular inválido</div>

    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="expLaboralService.espera || formaTrab.invalid">Guardar</button>

<!--  <button type="submit" class="btn btn-primary" >Guardar</button>-->
</form>
