
<div class="contenedor">

  <div class="cabecera">
    <div class="container">
      <h1>Educación</h1>
    </div>
  </div>

  <div class="fondo4">
    <div class="relleno-fondos"></div>
    <div class="container">
      <div class="row row-cols-2 row-cols-md-3 g-4 ">
        <div class="col">
          <h2>Programación</h2>
          <span class="badge rounded-pill bg-secondary" *ngFor="let lenguaje of programacion">{{lenguaje}}</span><br>
        </div>

        <div class="col">
          <h2>Frameworks</h2>
          <span class="badge rounded-pill bg-success" *ngFor="let framework of frameworks">{{framework}}</span>
        </div>

        <div class="col">
          <h2>Base de Datos</h2>
          <span class="badge rounded-pill bg-danger" *ngFor="let bd of baseDatos">{{bd}}</span>
        </div>

        <div class="col">
          <h2>Sistemas Operativos</h2>
          <span class="badge rounded-pill bg-warning" *ngFor="let sistema of sistemasOperativos">{{sistema}}</span>

        </div>

        <div class="col">
          <h2>Idiomas</h2>
          <span class="badge rounded-pill bg-light text-dark" *ngFor="let idioma of idiomas">{{idioma}}</span>

        </div>

        <div class="col">
          <h2>Otros</h2>
          <span class="badge rounded-pill bg-info" *ngFor="let otro of otros">{{otro}}</span>

        </div>

      </div>
    </div>
    <div class="relleno-fondos"></div>
  </div>

  <div class="fondo2">
    <div class="relleno-fondos"></div>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4 ">

        <div class="col-md-8">
          <img src="./assets/img/titulo1.jpg" class="card-img-bottom" alt="...">
        </div>

        <div class="col-md-4">
          <h3><strong>Titulo: </strong>
          Ingeniero en sistemas informaticos y de computacion
          </h3>
          <p class="card-text"><img src="./assets/svg/ubicacion.svg" alt="ubicacion">
            Escuela Politecnica Nacional
          </p>
          <p class="card-text"><img src="./assets/svg/calendario.svg" alt="calendario">
            04/2021/20 - 04/2021/20
          </p>
          <div class="centrar-texto">
            <button class="btn btn-primary">Ver Titulo</button>
          </div>
        </div>


        <div class="col-md-8">
          <img src="./assets/img/titulo2.jpg" class="card-img-bottom" alt="...">
        </div>

        <div class="col-md-4">
          <h3><strong>Titulo: </strong>
            Ingeniero en sistemas informaticos y de computacion
          </h3>
          <p class="card-text"><img src="./assets/svg/ubicacion.svg" alt="ubicacion">
            Escuela Politecnica Nacional
          </p>
          <p class="card-text"><img src="./assets/svg/calendario.svg" alt="calendario">
            04/2021/20 - 04/2021/20
          </p>
          <div class="centrar-texto">
            <button class="btn btn-primary">Ver Titulo</button>
          </div>
        </div>


        <div class="col-md-8">
          <img src="./assets/img/titulo3.jpg" class="card-img-bottom" alt="...">
        </div>

        <div class="col-md-4">
          <h3><strong>Titulo: </strong>
            Ingeniero en sistemas informaticos y de computacion
          </h3>
          <p class="card-text"><img src="./assets/svg/ubicacion.svg" alt="ubicacion">
            Escuela Politecnica Nacional
          </p>
          <p class="card-text"><img src="./assets/svg/calendario.svg" alt="calendario">
            04/2021/20 - 04/2021/20
          </p>
          <div class="centrar-texto">
            <button class="btn btn-primary">Ver Titulo</button>
          </div>
        </div>
      </div>
    </div>
    <div class="relleno-fondos"></div>
  </div>

</div>

