
<div class="row">
  <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 mb-2 animate__animated animate__fadeIn" *ngFor="let gif of resultados">
    <div class="card" style="width: 15rem">
      <img [src]="gif.images.downsized_medium.url" class="card-img-top" [alt]="gif.title" />
      <div class="card-body">
        <p class="card-text">
          {{gif.title}}
        </p>
        <a [href]="gif.url" target="_blank" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>
</div>
