<h2>Reactive Basícos como</h2>

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre del producto"
          />

          <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
            Mínimo 3 carácteres.
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>

        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="precio"
            placeholder="Nombre del producto"
          />

          <span class="form-text text-danger" *ngIf="campoEsValido('precio')">
            Precio debe de ser mayor a cero
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>

        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            formControlName="existencias"
            placeholder="Nombre del producto"
          />

          <span
            class="form-text text-danger"
            *ngIf="campoEsValido('existencias')"
          >
            Existencias debe de ser mayor a cero
          </span>
        </div>
      </div>

      <button class="btn btn-primary slot-end" type="submit">Guardar</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ miFormulario.valid }} </pre>

    <span>pristine</span>
    <pre>{{ miFormulario.pristine }} </pre>

    <span>Valid</span>
    <pre>{{ miFormulario.touched }} </pre>

    <span>touched</span>
    <pre>{{ miFormulario.value | json }} </pre>
  </div>
</div>
