<!--<div class="contenedor">-->

<!--  <div class="cabecera">-->
<!--    <div class="container">-->
<!--      <h1>Información Personal-->
<!--      </h1>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="fondo2">-->
<!--    <div class="relleno-fondos"></div>-->

<!--    <div class="container">-->
      <app-alertas [mensajeError]="infoPerService.mensajeError"
                   [espera]="infoPerService.espera"
                   [cargado]="infoPerService.cargado">
      </app-alertas>

<!--      <div class="row">-->
<!--        <div class="col-12 col-lg-5 col-md-8">-->

<!--        </div>-->
<!--      </div>-->


<!--    </div>-->
<!--    <div class="relleno-fondos"></div>-->
<!--  </div>-->



<!--</div>-->
<p-toast></p-toast>

<div class="modal fade" id="modalInfoPersonal" tabindex="-1" aria-labelledby="modalInfoPersonalLabel" aria-hidden="true"
     data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalInfoPersonalLabel">Información Personal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="resetearForma()" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form #forma="ngForm" id="forma">
          <div class="mb-3">
            <label for="nombreInput" class="form-label">Nombres</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{'is-invalid':(nombres.errors?.required && nombres.touched) || nombres.errors?.minlength}"
                   id="nombreInput"
                   placeholder="Ingrese nombres y apellidos"
                   name="nombres"
                   [(ngModel)]="informacionPersonal.nombres"
                   required
                   #nombres="ngModel"
                   minlength="10"
                   maxlength="50">

            <div class="form-text color" *ngIf="nombres.errors?.required && nombres.touched">Nombres y apellidos son
              requeridos
            </div>
            <div class="form-text color" *ngIf="nombres.errors?.minlength">
              Mínimo {{nombres.errors?.minlength.requiredLength}} caracteres
            </div>

          </div>
          <div class="mb-3">
            <label for="formFileImg" class="form-label">Seleccione foto de perfil</label>
            <input (change)="capturarFotoPerfil($event)"
                   class="form-control"
                   type="file" id="formFileImg"
                   accept=".png, .jpg">
            <div class="form-text color" *ngIf="existeErrorImg">Debe seleccionar foto de perfil</div>

          </div>

          <div class="mb-3">
            <label for="formFilePdf" class="form-label">Seleccione CV (.pdf)</label>
            <input (change)="capturarCV($event)"
                   class="form-control"
                   type="file" id="formFilePdf"
                   accept=".pdf">
            <div class="form-text color" *ngIf="existeErrorPdf">Debe seleccionar CV</div>
          </div>

          <div class="mb-3">
            <label for="tituloInput" class="form-label">Título</label>
            <input type="text"
                   class="form-control"
                   id="tituloInput"
                   [ngClass]="{'is-invalid':(tituloInp.errors?.required && tituloInp.touched) || tituloInp.errors?.minlength}"
                   placeholder="Ingrese su título actual"
                   name="titulo"
                   #tituloInp="ngModel"
                   [(ngModel)]="informacionPersonal.titulo"
                   minlength="10"
                   maxlength="100"
                   required>

            <div class="form-text color" *ngIf="tituloInp.errors?.required && tituloInp.touched">Título es requerido
            </div>
            <div class="form-text color" *ngIf="tituloInp.errors?.minlength">
              Mínimo {{tituloInp.errors?.minlength.requiredLength}} caracteres
            </div>

          </div>

          <div class="mb-3">
            <label for="perfilProfesionalInput" class="form-label">Perfil Profesional</label>
            <textarea class="form-control"
                      id="perfilProfesionalInput"
                      rows="4"
                      [ngClass]="{'is-invalid':(perfilProf.errors?.required && perfilProf.touched) || perfilProf.errors?.minlength}"
                      name="perfilProfesional"
                      [(ngModel)]="informacionPersonal.perfilProfesional"
                      required
                      minlength="100"
                      maxlength="500"
                      #perfilProf="ngModel"></textarea>

            <div class="form-text color" *ngIf="perfilProf.errors?.required && perfilProf.touched">Perfil profesional es
              requerido
            </div>
            <div class="form-text color" *ngIf="perfilProf.errors?.minlength">
              Mínimo {{perfilProf.errors?.minlength.requiredLength}} caracteres
            </div>

          </div>

          <div class="mb-3">
            <label for="motivacionInput" class="form-label">Motivación</label>
            <textarea class="form-control"
                      id="motivacionInput"
                      rows="4"
                      [ngClass]="{'is-invalid':(motivacion.errors?.required && motivacion.touched) || motivacion.errors?.minlength}"
                      name="motivacion"
                      [(ngModel)]="informacionPersonal.motivacion"
                      required
                      minlength="100"
                      maxlength="500"
                      #motivacion="ngModel"></textarea>

            <div class="form-text color" *ngIf="motivacion.errors?.required && motivacion.touched">Motivación es
              requerido
            </div>
            <div class="form-text color" *ngIf="motivacion.errors?.minlength">
              Mínimo {{motivacion.errors?.minlength.requiredLength}} caracteres
            </div>
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetearForma()">Close</button>
          <button type="button" (click)="guardarDatosmodal(forma)" class="btn btn-primary margin-btn" data-bs-dismiss="modal"
                  [disabled]="forma.invalid || infoPerService.espera">Guardar
          </button>
        </form>
      </div>
    </div>


  </div>
</div>

