<h4>Información Personal</h4><br>
<div class="alert alert-danger" role="alert" *ngIf="infoPerService.mensajeError">
  {{infoPerService.mensajeError}}
</div>
<div class="alert alert-danger posicion-alerta" role="alert"  *ngIf="infoPerService.espera">
    Espere...
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success posicion-alerta" role="alert"  *ngIf="infoPerService.cargado">
  Cargado
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form (ngSubmit)="guardarInfoUsuario()" #forma="ngForm">

  <div class="mb-3">
    <label for="nombreInput" class="form-label">Nombres</label>
    <input type="text"
           class="form-control"
           id="nombreInput"
           placeholder="Ingrese nombres y apellidos"
           name="nombres"
           [(ngModel)]="informacionPersonal.nombres"
           required>

  </div>
  <div class="mb-3">
    <label for="formFileImg" class="form-label">Seleccione foto de perfil</label>
    <input (change)="capturarFotoPerfil($event)"
           class="form-control"
           type="file" id="formFileImg"
           accept=".png, .jpg"
           required>
  </div>

  <div class="mb-3">
    <label for="formFilePdf" class="form-label">Seleccione CV (.pdf)</label>
    <input (change)="capturarCV($event)"
           class="form-control"
           type="file" id="formFilePdf"
           accept=".pdf"
           required>
  </div>

  <div class="mb-3">
    <label for="tituloInput" class="form-label">Título</label>
    <input type="text"
           class="form-control"
           id="tituloInput"
           placeholder="Ingrese su título actual"
           name="titulo"
           [(ngModel)]="informacionPersonal.titulo"
           required>
  </div>

  <div class="mb-3">
    <label for="perfilProfesionalInput" class="form-label">Perfil Profesional</label>
    <textarea class="form-control"
              id="perfilProfesionalInput"
              rows="4"
              name="perfilProfesional"
              [(ngModel)]="informacionPersonal.perfilProfesional"></textarea>
  </div>

  <div class="mb-3">
    <label for="motivacionInput" class="form-label">Motivación</label>
    <textarea class="form-control"
              id="motivacionInput"
              rows="4"
              name="motivacion"
              [(ngModel)]="informacionPersonal.motivacion"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="forma.invalid || infoPerService.espera">Guardar</button>
</form>
