<h4>Informacion Personal</h4><br>

<div class="alert alert-danger posicion-alerta" role="alert"  *ngIf="paginaService.espera">
    Espere...
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success posicion-alerta" role="alert"  *ngIf="paginaService.cargado">
  Se subio
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form (ngSubmit)="guardarInfoUsuario()" #forma="ngForm">
  <div class="mb-3">
    <label for="nombreInput" class="form-label">Nombres</label>
    <input type="text"
           class="form-control"
           id="nombreInput"
           placeholder="ingrese nombres y apellidos"
           name="nombres"
           [(ngModel)]="informacionPersonal.nombres"
           required>

  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Seleccione foto de perfil</label>
    <input (change)="capturarFotoPerfil($event)"
           class="form-control"
           type="file" id="formFile"
           accept=".png, .jpg">
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Seleccione CV (.pdf)</label>
    <input (change)="capturarCV($event)"
           class="form-control"
           type="file" id="formPdf"
           accept=".pdf">
  </div>



  <div class="mb-3">
    <label for="tituloInput" class="form-label">Titulo</label>
    <input type="text"
           class="form-control"
           id="tituloInput"
           placeholder="ingrese su titulo actual"
           name="titulo"
           [(ngModel)]="informacionPersonal.titulo"
           required>
  </div>

  <div class="mb-3">
    <label for="perfilProfesionalInput" class="form-label">Perfil Profesional</label>
    <textarea class="form-control"
              id="perfilProfesionalInput"
              rows="4"
              name="perfilProfesional"
              [(ngModel)]="informacionPersonal.perfilProfesional"></textarea>
  </div>

  <div class="mb-3">
    <label for="motivacionInput" class="form-label">Motivacion</label>
    <textarea class="form-control"
              id="motivacionInput"
              rows="4"
              name="motivacion"
              [(ngModel)]="informacionPersonal.motivacion"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="forma.invalid">Guardar</button>
</form>
