.input-wrapper {
    padding: 0 10px;
    input {
        height: 30px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 1px 15px;
        width: 400px;
    }

    button {
        height: 36px;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 4px 15px;
        

    }
}